aioprocessing==2.0.1
datasets==3.2.0
evaluate==0.4.1
jsonlines==4.0.0
litellm==1.58.4
nltk==3.8.1
numpy==2.2.1
openai==1.59.8
pandas==2.2.3
pexpect==4.9.0
pexpect==4.8.0
psutil==6.1.0
pylatexenc==2.10
PyYAML==6.0.1
PyYAML==6.0.2
rank_bm25==0.2.2
Requests==2.32.3
rich==13.9.4
scikit_learn==1.4.1.post1
tenacity==9.0.0
thefuzz==0.22.1
torch==2.1.0
tqdm==4.67.1
transformers==4.40.2
word2number==1.1
